body{
    font-family: sans-serif;
}
.calendar{
    background: bisque;
    
}

.calendar__head{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:.5em 0;
}

.calendar__button{
    background: lightcoral;
    border: none;
}

.calendar__title{}

.calendar__days{
    display: flex;
    justify-content: space-around;
}

.calendar__week{
    margin:20px ;
}

.calendar__dates{
    display:grid;
    grid-template-columns: repeat(7,1fr);
    justify-items: center;
    grid-gap: 20px;
}

.calendar__numbers{}

.calendar__numbers--today{
    color: red;
}