<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Edad</th>
        </tr>
    </thead>
    <tbody>
        <tr> <td>Carol</td> <td>25</td> </tr>
        <tr> <td>Diana</td> <td>25</td> </tr>
        <tr> <td>Paola</td> <td>25</td> </tr>
        <tr> <td>Karin</td> <td>25</td> </tr>
    </tbody>
</table>