body {
    font-family: sans-serif;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient( to bottom right, purple 0%, salmon 100%);
}

/* .calculator {
    width: 350px;
    height: 500px;
    background: transparent;
    border-radius: 15px;
    position: relative;
}

    .calculator::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 15px;
        box-shadow: 0 10px 20px black;
        opacity: .3;
    } */

.screen {
    width: 100%;
    height: 120%;
    text-align: right;
    padding-right: 1rem;
    padding-top: 1.5rem;
    background: white;
    font-size: 2rem;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    margin-top: 5px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    font-size: 1.2rem;
    background: white;
    cursor: pointer;
    position: relative;
    z-index: 100;
}

.button:nth-child(4n){
    background: lightsalmon;
}

.button:nth-child(17){
    border-bottom-left-radius:15px; 
}

.button:last-child{
    border-bottom-right-radius: 15px;
}